.block {
    transform: translate(var(--translate-x), var(--translate-y));
    position: absolute;
    min-width: 60px;
    min-height: 2em;
    background: #eee;
    padding: 5px;
    border: 2px solid #111;
    border-radius: 3px;
}

.block:focus-within {
    border: 2px solid #f08;
}

.block .content {
    display: block;
    outline: none;
    font-size: 14px;
    white-space: nowrap;
}

.block .content:not(:focus) {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.block.selected {
    outline: 2px solid red;
}

.block.selected * {
    pointer-events: none;
}