#menu-container {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 2rem;
    height: 2rem;
    background: #2224;
    color: #aaa;
    border: 1px solid #aaa7;
    border-radius: 4px;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#menu-container #open-icon, 
#menu-container #close-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    backdrop-filter: blur(5px);
    font-size: 1.5rem;
}

#menu-container.openned #close-icon,
#menu-container:not(.openned) #open-icon {
    display: inline;
}

#menu-container.openned #open-icon,
#menu-container:not(.openned) #close-icon {
    display: none;
}

#menu-container ul {
    list-style: none;
    position: fixed;
    right: 10px;
    bottom: 3rem;
    padding: 10px;
    background: #2224;
    color: #aaa;
    border: 1px solid #aaa7;
    border-radius: 4px;
    backdrop-filter: blur(5px);
    transition: .2s;
}

#menu-container:not(.openned) ul {
    display: none;
}

#menu-container li+li {
    margin-top: 5px;
}

#menu-container button {
    width: 100px;
    padding: 10px;
    background: #2224;
    color: #aaa;
    border: 1px solid #aaa7;
    border-radius: 4px;
    transition: .2s;
}

#menu-container button:active {
    background: #aaa2;
}