:root {
    --translate-x: 0px;
    --translate-y: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}

html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #222;
    overflow: hidden;
}

canvas#bp-canvas,
div#bp-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.block {
    transform: translate(var(--translate-x), var(--translate-y));
    position: absolute;
    min-width: 60px;
    min-height: 2em;
    background: #eee;
    padding: 5px;
    border: 2px solid #111;
    border-radius: 3px;
}

.block:focus-within {
    border: 2px solid #f08;
}

.block span {
    display: block;
    text-align: center;
    outline: none;
    font-size: 14px;
}

.block span:not(:focus) {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.block.selected {
    outline: 2px solid red;
}

div#bp-search-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: #2224;
    border: 1px solid #aaa7;
    border-radius: 4px;
    backdrop-filter: blur(5px);
}

div#bp-search-container.hidden {
    display: none;
}

div#bp-search-container input {
    width: 200px;
    padding: 10px;
    background: transparent;
    color: #aaa;
    background: #aaa1;
    border-radius: 4px;
    transition: .2s;
    border: 1px solid transparent;
}

div#bp-search-container input:focus {
    border: 1px solid #aaa7;
}

div#bp-search-container input.error {
    border-bottom: 2px solid red;
}

div#bp-search-container button {
    padding: 10px;
    margin-left: 10px;
    background: #aaa1;
    color: #fff;
    border-radius: 4px;
    transition: .2s;
}

div#bp-search-container button:hover {
    background: #ddd1;
}